/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Life Savers', serif; */
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height:50%;
}

body {
  display: flex;
  justify-content: flex-end;\
}

h1 {
  display: flex;
  justify-content: space-around;
  font-family: 'Life Savers', serif;
}

.page-formatting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.header-text {
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #E6ECF4;
}

.question {
  margin: 1em 0 1em 0;
  height: 2em;
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.get-answer-button {
  margin: 0 0 1em 0;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  padding: .5em;
  background-color: #2B4E80;
  color: #E6ECF4;
  font-family: 'Open Sans', sans-serif;
}

.eight-ball {
  height: 5em;
  width: 5em;
  display: flex;
  justify-content: flex-start;
}

.woody {
  display: grid;
  grid-column-start: 3;
  height: 50%;
  width: 50%;
}

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/
